    {{> loginHeaders}}
    

    <div class="login-container">
        <h2>Success!</h2>
        
        <p class="register-link">The comment was created successfully</p>

        <form action="/viewComments/{{id}}" method="POST">
        
       <input type="hidden" name="id" value="{{id}}">

        </form>

        <p class="register-link"><a href="/viewComments/{{id}}">View comments</a></p>

        <p class="register-link"><a href="/viewGuides/login">Return</a></p>

    </div>


