<body>
    <div class="navbar">
        <header class="navheader">
            <div class="block">
                <h1>VaniaTime</h1>
            </div>
            <ul>
                <a href="aboutUs.html"><li>About Us</li></a>
                <a href="updates.html"><li>Updates</li></a>
                <a href="sources.html"><li>Sources</li></a>
            </ul>
        </header>
    </div>

    <article>
        <div class="chatblock">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">Search</button>
        </div>
    </article>
</body>

