    {{> loginHeaders}}
    
    <div class="login-container">
        <h2>Success</h2>
        
        <p class="register-link">The topic creation was done successfully</p>

        <p class="register-link"><a href="/viewGuides/login">View topic</a></p>

    </div>