{{> loginHeaders}}

    <article>
            <div class="chatblock">

            <input type="text" placeholder="Search..." class="search-input">

            <button class="search-button">Search</button>
            
            </div>
    </article>

    <article>

        <div class="chatblock">

        </div>

    </article>