    <div class="navbar">
        <header class="navheader">
            <div class="block">
                <h1>VaniaTime</h1>
            </div>
            <ul>

                <a href="/viewGuides/login"><li>View Guides</li></a>
                <a href="/createGuide"><li>Create Guide</li></a>
                <a href="/profile"><li>Profile</li></a>
                
            </ul>
        </header>
    </div>